<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1 >Bienvenido al servidor</h1>

      <h3>Trabajo integrador final para el curso de Codo a Codo</h3>
      <h5>Puedes ver la documentación y probar los endpoints utilizando el siguiente botón</h5>
      <a href="http://localhost:5000/docs"><button>Testear Api</button></a>
      <h5>O puedes ser rederigido al sitio con el frontend utilizando el siguiente botón</h5>
      <a href="https://johnbrownc.github.io/TP-Full-Stack/" target="_blank"><button>Frontend</button></a>
    </div>
  </body>
</html>
